{% extends 'base.html' %}
{% block body %}
<div class="container">
  <table class="table table-hover">
    <thead>
        <tr>
        <td>排名</td>
        <td>歌单名称</td>
        <td><a href="{{ url_for('index', sorted_key='played') }}">歌单播放数</a></td>
        <td><a href="{{ url_for('index', sorted_key='favourites') }}">歌单收藏数</a></td>
        <td><a href="{{ url_for('index', sorted_key='comments') }}">歌单评论数</a></td>
        <td><a href="{{ url_for('index', sorted_key='shares') }}">歌单分享数</a></td>
        <td>歌单标签</td>
        </tr>
    </thead>
    {% for item in top100 %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ item['url'] }}">{{ item['title'] }}</a></td>
        <td>{{ item['played'] }}</td>
        <td>{{ item['favourites'] }}</td>
        <td>{{ item['comments'] }}</td>
        <td>{{ item['shares'] }}</td>
        <td>{{ item['tags'] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
