{% extends 'base.html' %}
{% block body %}
<div class="container">
  <table class="table table-hover">
    <thead>
        <tr>
        <td>排名</td>
        <td>歌单名称</td>
        <td>歌单播放数</td>
        <td><a href="{{ url_for('index', sorted_key='favourites') }}">歌单收藏数</a></td>
        <td>歌单评论数</td>
        <td>歌单分享数</td>
        <td>歌单标签</td>
        </tr>
    </thead>
    {% for item in top100 %}
    <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ item[0] }}">{{ item[1]['title'] }}</a></td>
        <td>{{ item[1]['played'] }}</td>
        <td>{{ item[1]['favourites'] }}</td>
        <td>{{ item[1]['comments'] }}</td>
        <td>{{ item[1]['share'] }}</td>
        <td>{{ item[1]['tags'] | join(' ') }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
